<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/utilities.css">
    <link rel="stylesheet" href="/css/media.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Title and Favicon -->
    <title>{{title}}</title>    
    <link rel="icon" type="image/x-icon" href="/img/logo-versions/PNG-without-tag-and-bkgd/Stay-Logo-favicon-16x16.png">

</head>

<body>
    <header>
        <div class="gridx2-header container">
            <!-- Logo -->
            <div>
                <a href="/"><img src="/img/logo-versions/Shadowed/Logo-600x700-Banner-w-Tag-shadow.png" alt="Stay Inns Company logo" style="height:145%;"></a>
            </div>
            <!-- Header Menu -->
            <nav class="main-margin-top justify-self-center">
                <ul class="bold reg-font">
                    <li><a href="/">Home</a></li>
                    <li><a href="/user/destinations">Vacation Destinations</a></li>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <header class="hide">
        <div class="gridx2-header container">
            <!-- Logo -->
            <div>
                <a href="/"><img src="/img/logo-versions/Shadowed/Logo-600x700-Banner-w-Tag-shadow.png" alt="Stay Inns Company logo" style="height:145%;"></a>
            </div>
            <!-- Admin Header Menu -->
            <nav class="main-margin-top justify-self-center">
                <ul class="bold reg-font">
                    <li><a href="/admin/property-list">Property List</a></li>
                    <li><a href="/admin/add-property">Add Property</a></li>
                    <li><a href="/admin/edit-property">Edit Property</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
            </nav>
        </div>   
    </header>

    <main class="container">
        {{{body}}}
    </main>
    
    <footer>
        <div class="gridx2-footer container">
            <!-- Logo -->
            <div>
                <a href="/"><img src="/img/logo-versions/Shadowed/Logo-600x700-Banner-w-Tag-shadow.png" alt="Stay Inns Company logo" style="height:145%;"></a>
            </div>
            <!-- Footer Menu -->
            <nav class="main-margin-top">
                <ul class="bold reg-font footer-margin-left">
                    <li><a href="/">Home</a></li>
                    <li><a href="/user/destinations">Vacation Destinations</a></li>
                    <li><a href="/auth/login">Login</a></li>
                    <li><a href="/signup">Sign Up</a></li>
                </ul>
            </nav>
        </div>
        <!-- Sub-Footer -->
        <div class="sub-footer">
            <p class="grid align-center">
                Designed &amp; Developed by Compton Studios
            </p>
        </div>
    </footer>

    <footer class="hide">
        <div class="gridx2-footer container">
            <!-- Logo -->
            <div>
                <a href="/"><img src="/img/logo-versions/Shadowed/Logo-600x700-Banner-w-Tag-shadow.png" alt="Stay Inns Company logo" style="height:145%;"></a>
            </div>
            <!-- Admin Footer Menu -->
            <nav class="main-margin-top">
                <ul class="bold reg-font footer-margin-left">
                    <li><a href="/admin/property-list">Property List</a></li>
                    <li><a href="/admin/add-property">Add Property</a></li>
                    <li><a href="/admin/edit-property">Edit Property</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
        <!-- Sub-Footer -->
        <div class="sub-footer">
            <p class="grid align-center">
                Designed &amp; Developed by Compton Studios
            </p>
        </div>
    </footer>


    
</body>
</html>