<section>
    <h1>Home Page</h1>
    
    {{#each movies}}
        <div>
            {{this}}
        </div>
    {{/each}}
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptates delectus sed error impedit obcaecati vero asperiores deserunt non dolore cupiditate quos, maiores distinctio? Assumenda sunt totam error libero minus.
    </p>


</section>