<section>

    <h1>
        Welcome {{user.first_name}},
    </h1>
    
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat laboriosam quis, repudiandae eaque, quaerat, odit asperiores in eveniet tempora assumenda iste. Ratione reiciendis excepturi ad neque corrupti perferendis nulla omnis.
    </p>
    
</section>